<% layout('layouts/boilerplate') %> 
    <form action="/rooms/<%= room._id %>?_method=put" method="post">
      <div>
        <label for="newTitle">Edit title</label>
        <input id="newTitle" type="text" name="room[title]" value="<%= room.title %>"/>
      </div>
      <div>
        <label for="newLocation">Edit location</label>
        <input id="newLocation" type="text" name="room[location]" value="<%= room.location %> " />
      </div>
      <button type="submit">Edit room</button>
    </form>
    <a href="/rooms/<%= room._id %>">Go back to room</a>

