<% layout('layouts/boilerplate') %> 
    <form action="/rooms" method="post">
      <div>
        <label for="newTitle">Add a title</label>
        <input id="newTitle" type="text" name="room[title]"/>
      </div>
      <div>
        <label for="newLocation">Add a location</label>
        <input id="newLocation" type="text" name="room[location]" />
      </div>
      <button type="submit">Add room</button>
    </form>
    <a href="/rooms">Go back to available rooms</a>
